body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://source.unsplash.com/1600x900/?fantasy-forest') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Papyrus', sans-serif;
  color: white;
}

#passkey-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2em;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #8b4513;
  background-color: #faf0e6;
  font-size: 1.2em;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}

#error-message {
  color: red;
  margin-top: 10px;
}

.container {
  display: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.message-box {
  border: 2px solid #8b4513;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2em;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 15px;
  text-align: left;
  color: #fdf5e6;
}

.message-input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #8b4513;
  background-color: #faf0e6;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #8b4513;
}

button.send-btn, button.clear-btn {
  padding: 10px 20px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

button.send-btn:hover, button.clear-btn:hover {
  background-color: #a0522d;
}
